@model AciliyetAddViewModel
@{
    ViewData["Title"] = "EkleAciliyet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*<form class="w-75 mx-auto p-3 mt-4 shadow" asp-action="EkleAciliyet" method="post">*@
    <div class="row">
        <div class="text-center text-danger font-weight-bold col-md-12">
            <h3>Aciliyet Ekle</h3>
        </div>
    </div>
    <div class="form-group">
        <label style="color:black">Tanım :</label>
        <span asp-validation-for="@Model.Tanim" class="text-danger ml-2" style="font-size: 110%"></span>
        <input asp-for="@Model.Tanim" type="text" id="Tanim" class="form-control" />
    </div>
    <button type="submit" id="Ekle" class="btn btn-info">Kaydet</button>
@*</form>*@

@section JavaScript{ 
<script>
    $("#Ekle").click(function () {
        let aciliyet = {
            Tanim: $("#Tanim").val()
        };
        console.log(aciliyet.Tanim);
        $.ajax({
            type: "Post",
            url: "/Admin/Aciliyet/EkleAciliyet",
            data: aciliyet,
            success: function (response) {
                $("#Tanim").val("");
                alert(response.responseText);
            },
            error: function (response) {
                alert("Hata");
            }
        })
    })
</script>
}

